{% extends "base.html" %}
{% block title %}{{ super() }} | Welcome{% endblock title %}
{% block content %}
<div class="container">
    <h2>{{ city }}</h2>
    <hr>
    <table>
        <tr>
            <th>Month</th>
            <th>Min</th>
            <th>Max</th>
            <th>Rainfall</th>
        </tr>
        {% for month in months %}
        <tr>
            <td>{{ month }}</td>
            <td>{{ weather[month]['min'] }}</td>
            <td>{{ weather[month]['max'] }}</td>
            <td>{{ weather[month]['rain'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
